/*******************************************************************************
Colors
*******************************************************************************/
body {
  background-color:#ff8800;
}

a:visited {
  color: #fff;
}

a:link {
  color: #fff;
}

footer,
.navigation a,
.navigation a:visited,
.navigation a:active
{
  color: #fff;
}

/* HEADER */
.main-header {
  background: #243a51;
}

.jumbotron {
  background-color: #9bc152;
  color: #282932;
}

/* NAVIGATION LINK */
.text-logo,
.text-logo a:visited {
  color: #fff;
}


.navigation a:focus {
  color: #243a51;
  background-color: #fff;
}

.column-one-grid,
.find-me-online,
.project-logo {
  background-color: #eee;
}

/*Top navigation*/
.top-navigation {
  color: #e1e1e1;
  background-color: #59698d;
}

/* Resume */
.date-grid {
  color: #800000;
}

.column-two-grid {
  color: #000;
  background-color: #fff;
}

.text-block {
  color: #f6f4ec;
  background-color: #282932;
}

/*******************************************************************************
PROJECTS
*******************************************************************************/

.project-socialmedia {
  background-color: #eee;
}

.flex-socialmedia {
  background-color: #6ab47b;
}

/* FOOTER */
footer {
  background-color: #2e2e2e;
}

/*******************************************************************************
MDBOOTSTRAP Colors
*******************************************************************************/

.danger-color {
	background-color: #ff4444;
}

.default-color {
  background-color: #6ab47b;
}

.info-color {
  background-color: #33b5e5;
}

.secondary-color {
	background-color: #aa66cc;
}

.secondary-color-dark {
  background-color: #9933cc;
}

.success-color {
  background-color: #00C851;
}

.warning-color {
	background-color: #ffbb33;
}

.warning-color-dark {
  background-color: #ff8800;
}

.special-dark-color {
  background-color: #263238;
}
