/*** Colors for CSS ***/

:visited {
 color: #fff;
}

/* Pages Background Color*/

#welcome-page {
  background-color: #6ab47b;
  padding: 20px;
}

#find-me {
  background-color: #800000;
}

#projects {
  background-color: #008080;
}

#resume {
  background-color: #424242;
}

#about {
  background: blue;
}

#contact {
  background: orange;
  padding-bottom: 10px;
}


/* Header */
.main-header {
  background-color: #eee;
}

.subheading {
  color: #fff;
  background-color: #0099CC;
}

/* Navigation */
.navbar a {
  color: #fff;
}

.navbar a:active {
  background-color: #fff;
}

.navbar a:active {
  color: #000;
}

.text-logo {
  color: #fff;
}

.text-logo a:visited {
  color: white;
}

.welcome-text {
  color: #fff;
}

.find-me-online {
  background-color: #eee;
}

.project-logo  {
  background-color: #eee;
}

.about-me-text {
  color: #000;
  background-color: #fff;
}

/*Resume */

.call-to-action-button {
  color: #fff;
  background-color: #800000;
}

.column-one-grid {
  background-color: #eee;
}

.column-two-grid {
  background-color: #fff;
}

.date-grid {
  color: #800000;
}

/* CONTACT US */

.contact-card {
  width: 300px;
  height: 170px;
  margin: 20px auto;
  display: block;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  background-color: #eee;
  transition: 0.3s;
  padding: 20px 50px;
  border-radius: 10px;
  overflow-y: visible;
}

.contact-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* FOOTER */

footer {
  text-align: center;
  font-size: 20px;
  color: #fff;
  background-color: #000;
  margin-top: 0px;
  padding: 20px;
}

/*******************************************************************************
jQuery
*******************************************************************************/
/* div change background color for welcome page */
.danger-color {
	background: #ff4444;
}

.warning-color {
	background: #ffbb33;
}

.default-color {
  background-color: #6ab47b;
}
.secondary-color {
	background: #aa66cc;
}

.info-color {
  background-color: #33b5e5;
}
