.text-logo {
  font-family: sans-serif;
  font-size: 20px;
  display: inline;
}

#left-navigation {
  display: block;
  height: 100%;
  background-color: #424242;
  position: fixed;
  width: 75px;
  text-align: center;
  color: #fff;
  padding-top: 40px;
  border-right: 1px solid rbga(0,0,0 #222);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#taskbar {
  bottom: 0;
  position: fixed;
  width: 100%;
  background-color: #01579b;
  margin-left: 75px;
  display: flex;
  flex-direction: row;

}


/*******************************************************************************
Calculator
*******************************************************************************/

.icons {
  width: 70px;
  height: 50px;
}
