/*******************************************************************************
PAGES ID ANCHORS
My Portfolio is a Single Page Website.
This Css is for the sections that are linked to the anchor ids on the index.html
*******************************************************************************/

#welcome-page {
  padding: 20px;
}

#contact {
  padding-bottom: 10px;
}

/*******************************************************************************
MEDIA QUERIES
*******************************************************************************/

@media (min-width: 642px) {

  #welcome-page {
    padding: 50px;
  }
}

@media (min-width: 600px) {

  #welcome-page {
    padding: 100px;
  }

  #contact {
    padding-bottom: 150px;
  }

  footer {
    padding-bottom: 215px;
  }
}

@media (min-width: 1280px) {

  #welcome-page {
    margin: 0 auto;
    padding: 200px;
    height: calc(100vh - 100px);
  }

  footer {
    padding-bottom: 120px;
  }
}
