/*******************************************************************************
REGISTER -- SIGN UP
*******************************************************************************/

#formh1 {
  color: #fff;
  font-size: 40px;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

form {
  padding: 15px 20px;
  max-width: 450px;
  margin: -100px auto 85px auto;
  border: transparent;
  background: #0099CC;
  border-radius: 10px;
  color: #000;
  font-size: 16px;
}

input {
  outline: none;
}

input[type="date"],
input[type="email"],
input[type="password"],
input[type="tel"],
input[type="text"],
select
{
  width: 100%;
  margin: 0; /*for the select security question to stay centered */
  margin-bottom: 15px;
  border: 1px solid brown;
  border-radius: 1em;
  background-color: #e0e0e0;
  height: 2em;
  font-size: 20px;
  padding: 10px;
  display: block;
}

input[type="date"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="tel"]:focus,
input[type="text"]:focus,
select
{
 background: #fff;
}


input[type="radio"],
input[type="checkbox"] {
  margin: 2px;

}

.genderradio,
.editorcheckbox{
  display: inline-flex;

}

legend {
  font-size: 1.5em;
  margin: 0;
  padding: 0;
  color: #fff;
}

label {
  display: block;
  font-size: 1em;
  margin-bottom: 5px;
}

fieldset {
  border: transparent;
  margin: 30px auto;
}

/* Roman Numeral List */
.roman {
  position: relative;
  left: -50px;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  line-height: 37px;
  display: inline-flex;
  justify-content: center;
  text-align: center;
  font-size: .9em;
  color: #fff;
  background-color: #3acec2;
  border: 2px solid #fff;

}

/* BUTTON - SUBMIT & RESET*/
.register-button {
  background-color: #33b5e5;
  color: #fff;
  width: 100%;
  text-align: center;
  margin: 5% auto;
  padding: 5%;
  border-radius: 10px;
}

/* FOR JQUERY VALIDATION */
.validate {
  margin: 0 auto;
  font-size: 1em;
  display: block;
  text-align: center;
  width: 50%;
  color: #cc0000;
  border-bottom: 1px dotted #cc0000;
}
