/*******************************************************************************
MEDIA QUERIES
*******************************************************************************/


/* 480px: For The Landscape Display in phones */
@media (min-width: 642px) {
  /*******************************************************************************
  LOGOS AND NAVIGATION
  *******************************************************************************/

  .main-header{
    display: block;
    flex-direction: row;
    height: 150px;
    padding: 10px;
  }

  .text-logo {
    margin: 5px;
  }

  .navbar ul {
    display: flex;
    justify-content: center;
  }

  /*******************************************************************************
  PROFILE PICTURE
  *******************************************************************************/

  .profile-pic {
    margin: 100px auto;
    transition: all .20s;
  }

  .profile-pic:hover {
    transform: scale(2) rotate(10deg);
  }

  /*******************************************************************************
  ABOUT ME
  *******************************************************************************/
  .about-me-flexbox {
    display: flex;
    justify-content: center;
  }

  .about-me-text {
    font-size: 20px;
    flex-grow: 1;
    border-radius: 0px;
    margin: 0;
    padding: 20px;
  }

  .about-me-photo {
    border-radius: 0px;
  }
}

/* 600px: For The Tablet Display */
@media (min-width: 800px) {
  .main-header{
    flex-direction: row;
    bottom: 0;
    position: fixed;
    padding: 5px;
  }

}

@media (min-width: 1200px) {

  .text-logo {
    margin: 10px auto 10px 100px;
  }

  .main-header {
    bottom: 0;
    height: 100px;
    display: flex;
    flex-direction: row;
  }

  .navbar ul {
    margin: 5px 100px 5px auto;
  }
}
