/* PORTRAIT DISPLAY FOR MOBILE PHONES */
@media (max-width: 575px) {
  .text-logo {
    margin: 0;
    padding-top: 32px;
  }

  .welcome-text {
    font-size: 1.7em;
  }

  .navigation a {
    display: none;
  }
}

@media (min-width: 576px) {
  .navigation select, .navigation button {
    display:none;
  }
}

/* LANDSCAPE DISPLAY FOR MOBILE PHONES */
@media (min-width: 576px) and (max-width:767px) {
  .main-header {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .navigation {
    flex-direction: row;
  }

  .carousel,
  .grid-half {
    height: calc(100vh - 120px);
  }
  footer {
    margin-top: 100px;
  }
}

/* TABLETS */
@media (min-width: 768px) and (max-width: 991px) {
  .main-header {
    bottom: 0;
    position: fixed;
  }

  .navigation {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  footer {
    margin-bottom: 125px;
  }
}

@media (min-width: 768px){
  .carousel,
  .grid-half {
    height: calc(100vh - 100px);
  }
}

/* LARGE DESKTOPS */
@media (min-width: 992px) {
  .main-header {
    bottom: 0;
    position: fixed;
    display: flex;
    height: 100px;
  }

  .navigation {
    display: flex;
    flex-direction: row;
    padding: 20px 1px;
    margin-right: 25px;
  }

  .text-logo {
    margin-top: 20px;
    margin-left: 25px;
    margin-right: auto;
  }

  footer {
    margin-bottom: 100px;
  }
}
