body {
  background: #384047;
}

.fortune-cookie-h1 {
  color: #fff;
}

.program {
  display: block;
  margin: 200px auto;
  padding: 40px;
  text-align: center;
  width: 80%;
  background-color: #fff;
  border-radius: 10px;
}

#fortune-button {
  display: block;
  margin: 0 auto;
  padding: 12px 20px;
  font-weight: 400;
  width: 250px;
  border: 3px solid;
  font-size: 1em;
  color: #fff;
  background-color: #384047;
}

#lottoDisplay {
  margin: 20px auto;
  height: 50px;
  width: 250px;
  border: 1px solid;
  border-radius: 1em;
  font-size: 1.5em;
  background-color: #fff;
}

#lottoDisplay:after {
  color: #4b515d;
}
